.card-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .card {
    margin-bottom: 20px;
    margin-right: 20px;
  }
  
  .custom-card {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 20px;
    margin-right: 20px;
    /* Agrega otros estilos personalizados según tus necesidades */
  }